<a href="https://colab.research.google.com/github/MahmudN/Intro_to_Programming/blob/main/Copy_of_Intro_to_Python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A Gentle Intro to Programming with Python

## Principles of Coding
### What is a computer program?
A program is a set of instructions for the computer. When we run a set of codes, they are compiled (turned into machine codes) for the computer to understrand. The computer then executes the code.

### Executing/runing our first code:

In [ ]:
print("Hello, world!")

Hello, world!

In [ ]:
print("Today is Wed")

Today is Wed

### Commenting
We can use '#' to make a line of comments. Anything on the right sid of # won't be read by the compiler. You can also comment a chunk or multiple lines of code by enclosing with a tripe quotation. Example:
```
"""
This is for 
commenting 
over multiple lines
"""
```

In [ ]:
# printing multiple lines:
print("Hello, World, \nThis is my first code!")

Hello, World,
This is my first code!

In [ ]:
# this code does the same as code code above:
print("Hello, World,")
print("")
print("This is my first code!")

Hello, World,

This is my first code!

In [ ]:
# printing with indentation:
print("Hello, World, \tThis is my first code!")

Hello, World, 	This is my first code!

"\n" and "\t" are special commands to format the outputs of "strings." A string is a sequence of literal characters. We normally use strings for human languages.

$$A_{circle} = \pi r^2$$

## Variables
Variables are used to represnt "anything" in your code. In Python, and most other languages, variable names should start with letters and use "=" to set the value. Example: x = 12

In [ ]:
x = 12
print(x)

12

In [ ]:
y = 300
print(x+y)

312

Variables can store more than just numbers. They can also store strings, lists, dictionaries, and classes. More importantly, in Python, variable values can be reset.

In [ ]:
x = 12
print(x)

12

In [ ]:
x = "Hello, world"
print(x)

Hello, world

In [ ]:
x

'Hello, world'

### Getting user input
You can ask a user to type a value and store it into a variable by using the function "input()"

In [ ]:
x = input("Type a value for x: ")
print(x)

Type a value for x: 5000
5000

In [ ]:
x

'5000'

## Types and operations:

<p>Every piece of code in Python is an object. Common object types: integer, float (decimal), string, boolean. <p>
<p> Common mathematical operations: +, -, /, *, **, % (addition, subtraction, multiplication, expoenent, modulo , respectively)

In [ ]:
x = 12.0
y = 12
z = "12"
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'int'>
<class 'str'>

In some cases we can change the type of the object ourselves. int() converts a number to an interger, float() converts a number to a float, string() converts a number to a string.

In [ ]:
x = 12.0
print(type(x))

<class 'float'>

In [ ]:
y = int(x)

print(type(y))

<class 'int'>

In [ ]:
float(12)

12.0

In [ ]:
x = input("write something:")

write something:12

In [ ]:
type(x)

str

In [ ]:
int(x)+2

14

In [ ]:

z = "hi"
print(type(z))

<class 'str'>

In [ ]:
a = 10
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)

30
-10
200
0.5
100000000000000000000

### Booleans:
True or false statements.

In [ ]:
x = 12
y = 10
print(x == y)

False

In [ ]:
e = True 
f = False
print(e)
print(f)
# True and False are special values so you can not name any variables True/False

True
False

## Using libraries/packages in Python

A lot of the times, the gerneral functions and operations are not enough. We have to call on other libraries to provide us with the appropriate tools for the programs. Most commonly used data science libraries in Python are pandas, numpy, and geopandas.

In [ ]:
# we can square a number but can't find the square root:
2**2

4

In [ ]:
sqrt(2)

NameError: ignored

more information about Python's math library here: https://docs.python.org/3/library/math.html

In [ ]:
import math
#from math import *

math.sqrt(4)

2.0

## Control flow (if/else statements)
![controlFlow3.png]()

## Lists and tuples
a list is collection of objects.

## For loops and while loops

## Functions

In [ ]:
str(3.14*4**2)

'50.24'

In [ ]:
radius = input("enter radius here: ") 
area = 3.14*int(radius)**2
print("The area is " + str(area))

enter radius here: 100
The area is 31400.0

In [ ]:
type(radius)

str

In [ ]:
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [ ]:
list([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
x = [1,2,3,4]

In [ ]:
x*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
x.append(5)

In [ ]:
x.append([5,3,6])
x

[1, 2, 3, 4, 5, 'November', [5, 3, 6]]

In [ ]:
y = []

In [ ]:
for i in x:
  y.append(2*i)

In [ ]:
y

[2, 4, 6, 8]

In [ ]:
# tuple -- immutable list

tpl = (1,2,34,5)

In [ ]:
tpl.append(2)

AttributeError: ignored

In [ ]:
print(x.sort())

None

In [ ]:
for i in range(10):
  print(i*2)

0
2
4
6
8
10
12
14
16
18

In [ ]:
a = 10
b = 0
while True:
  print(b)
  b = b+1

In [ ]:
# control flow,  for loops, functions

In [ ]:
for i in range(10):
  print(i*2)

0
2
4
6
8
10
12
14
16
18

In [ ]:
"""
if we have a large datasets, but we only want the ones that satisy few conditions, so if you are analyzing census data, you want to learn about households with senior citizens. like above 65. {}
"""
x = 10
y = 10

if x == y:
  print("They are equal")
else:
  print("not equal")

They are equal