<a href="https://colab.research.google.com/github/MahmudN/Intro_to_Programming/blob/main/Gentle_Intro_to_Python_4_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A Gentle Intro to Programming with Python

## Principles of Coding
### What is coding?
Codes are a set of instructions for the computer. When we run a set of codes, they are compiled (turned into machine codes) for the computer to understrand. The computer then executes the code.

### Executing/running our first code:

In [ ]:
print("Hello, world!")

"\n" and "\t" are special commands to format the outputs of "strings." A string is a sequence of literal characters. We normally use strings for human languages.

In [ ]:
# printing with indentation:
print("Hello, World, This is my first code!")

### Commenting
We can use '#' to make a line of comments. Anything on the right sid of # won't be read by the compiler. You can also comment a chunk or multiple lines of code by enclosing with a tripe quotation. Example:
```
"""
This is for 
commenting 
over multiple lines
"""
```

## Variables
Variables are used to represnt "anything" in your code. They are very useful for storing values in the memory. In Python, and most other languages, variable names should start with letters and use "=" to set the value. Variable names can't contain space and special characters, except for underscore. Example: x = 12

In [ ]:
x = 12
y = 300

print(x+y)

Variables can store more than just numbers. They can also store strings, lists, dictionaries, and classes. More importantly, in Python, variable values can be reset.

In [ ]:
x = 12
x ='Hello, world'
print(x)

## Types and operations:

<p>Every piece of code in Python is an object. Common object types: integer, float (decimal), string, boolean. <p>
<p> Common mathematical operations: +, -, /, *, **, % (addition, subtraction, multiplication, expoenent, modulo , respectively)

In [ ]:
y = 12
z = "12"

print(type(y))
print(type(z))

In [ ]:
print(y+z)

In [ ]:
z =12

print(y+z)

In some cases we can change the type of the object ourselves. int() converts a number to an interger, float() converts a number to a float, string() converts a number to a string.

Mathematical operations:

In [ ]:
a = 10
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)

### Booleans:
True or false statements.
![controlFlow3.png]()

In [ ]:
x = 12
y = 10
print(x == y)
print(x > y)

## Using libraries/packages in Python

A lot of the times, the gerneral functions and operations are not enough. We have to call on other libraries to provide us with the appropriate tools for the programs. Most commonly used data science libraries in Python are pandas, numpy, and geopandas.

In [ ]:
# we can square a number: 4^2
4**2

In [ ]:
# but can't find the square root:
sqrt(16)

In [ ]:
import math

math.sqrt(16)

more information about Python's math library here: https://docs.python.org/3/library/math.html

## Control flow (if/else statements)

In control flow, we check if certain conditions are True/False and then do actions based on those conditions. There are also key words like "and," "or", and "not." In data analysis, conditionals are very usefull in filtering data. if, elif, else

In [ ]:
x = 12
y = 100
if x == y:    #try: <, >, != 
  print("condition is met")
else:
  print("condtion not met")

## Python Data Structures
### List:
A list is collection of objects. 
<br>So far we have talked about a variable representing a single value, but a variable can also hold a collection of values. We represent a list by using square brackets "[ ]." Some useful list functions: append, sort

In [ ]:
x = [10,20,30,45,50]

In [ ]:
print(max(x))
print(min(x))

In [ ]:
print(len(x))
print(x)

In [ ]:
x.append("Noor")
print(x)

In [ ]:
# Indexing of the list:
print(x[0])
print(x[2])

print(x[-1])

### Tuple:
A tuple is an immutable list, meaning, you can't make changes to it once it has been created. Really useful for maintaining data integrity.

In [ ]:
a_tuple = (1,2,3,4,5)

In [ ]:
a_tuple.append(12)

In [ ]:
type(a_tuple)

tuple

In [ ]:
# a list can contain any object type, and even lists!
list2 = list([1,2,3,[1,2,3]])

In [ ]:
# indexing a list, in Python index always starts from 0.
a_list[2]

In [ ]:
# indexing and slicing

In [ ]:

a_tuple = (1,2,3,4,5)

### Dictionaries are a key-value pair that maps the key to its associated values. 
In data science, we often end up using the key as column label and the values as column arrays.

In [ ]:
a_dict = {'a': 1, 'b':{'a':1, 'b':2}}

In [ ]:
a_dict['b']

In [ ]:
print(a_dict['a'])  # notice that it is similar to indexing in tables.

1

## For loops and while loops

Think of loops as repetitions. The key difference between for loop and while loop is that in for loops, we set a value that will end the repetitions, but in while while loops we set a condition for the repetition to stop.

In [ ]:
for i in range(1,10):
  print(i)
  #print("hello, world")

In [ ]:
# we can loop over a list:
a_list = [1,2,3,4,5,6]
for i in a_list:
  print(i)

In [ ]:
# while loop
x = 5
# while x > 1:
  # print(x)
  # x =x + 1

## Functions

<p>A function is a block of codes that only run when the name of the function is called. Key features of a function: arguments, "return" <p>

In [ ]:
def greet_person(x):
  print("hello,"+ x)

In [ ]:
def difference(a, b):
  c = a-b
  return c

In [ ]:
print(difference(10,500))

In [ ]:
print(difference(100,5))

In [ ]:
# a function that prints the area of a circle with entering the radius

def area_cir(radius):
  area = 3.14*int(radius)**2
  print("The area is " + str(area))

## Data analysis exercise 1:
In this exercise, we will do some data manipulation with the New County Census data. We will load the population and filter to get only the county populations greater than 100,000.

In [ ]:
# NOTE: Do not worry about this bloack of code. I am just reading a csv a file containing the data. 
# In order to read the CSV data file into your code, make sure to upload the CSV file to the file directory 
# of your Colab notebook on the left side.

# in order to access the csv file, use this link: https://github.com/MahmudN/Intro_to_Programming/blob/main/NY_County_Census.csv
# there click on "Copy raw contents" and then paste into Notepad and save the file as a CSV.

# here, I am only reading the 
import csv
with open("NY_County_Census.csv", "r") as csvfile:
  csvreader = csv.DictReader(csvfile)

  pop = []
  for row in csvreader:
    pop.append(row['POP'])

In [ ]:
print(pop)

In [ ]:
# By using this list, I would like to get a list of county populations that are grater than 
# 100,000. Only problem is that all the values are String:
print(pop[0])
print(type(pop[0]))

In [ ]:
# This means we can't check whether the number is greater than 100,000. 
# so if you run this code, you should get an error.
print(pop[0]>100000)

In [ ]:
# so we will iterate over the whole list, turn the value types from str to int
# and then check if the value is greater than 100,000. If value > 100,000, then
# that value will be appended to a list called 'large_pop'

# empty list:
large_pop = []

for i in pop:
  int_i = int(i)
  if int_i > 100000:
    large_pop.append(int_i)

In [ ]:
# we now should have a list containing the populations greater than 100000
print(large_pop)

## Resources for Beginners:
1. https://www.w3schools.com/python/default.asp
2. https://www.linkedin.com/learning/
3. Book: *Python for Data Analysis*
  <br> https://www.amazon.com/Python-Data-Analysis-Wrangling-IPython/dp/1491957662